<a href="https://colab.research.google.com/github/spooki-chan/CS-31_SDGP/blob/sub/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [154]:
import pandas as pd
import numpy as np

In [152]:
df=pd.read_csv("newfood.csv")

In [153]:
df

,id,title,pricePerServing,weightPerServing,vegetarian,vegan,glutenFree,dairyFree,sustainable,veryHealthy,...,Vitamin D/µg,Vitamin K/µg,Vitamin C/mg,Alcohol/g,Caffeine/g,stars,popularity,userId,tfdbId,recipeId
0,1,Fried Anchovies with Sage,5.6051,226,False,False,False,True,False,False,...,0.29,0.00,0.00,0.0,0.0,3,150.437577,1,1,1915
1,2,Anchovies Appetizer With Breadcrumbs & Scallions,0.8206,33,False,False,False,True,False,False,...,0.00,7.18,0.00,0.0,0.0,1,139.082615,1,2,1916
2,3,"Carrots, Cauliflower And Anchovies",4.3800,364,False,False,False,True,False,True,...,0.00,104.27,32.60,0.0,0.0,4,107.376788,1,3,1918
3,4,Bap Story Stir Fried Anchovies (Myulchi Bokkeum),8.1122,711,False,False,True,True,False,True,...,6.24,16.02,3.88,0.0,0.0,3,112.312950,1,4,1919
4,5,"Bread, Butter And Anchovies",0.2557,36,False,False,False,False,False,False,...,0.00,2.21,0.00,0.0,0.0,5,43.926995,1,5,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,1995,Blackened Salmon Fillets,4.4589,209,False,False,True,False,False,False,...,0.43,9.61,1.43,0.0,0.0,3,37.729059,14,1995,1480
1718,1996,Vegetable Stew With Halibut,0.1400,32,False,False,True,False,False,False,...,0.00,2.26,3.47,0.0,0.0,4,18.650748,14,1996,1481
1719,1997,Snapper Tacos with Chipotle Cream,2.8066,333,False,False,False,False,False,False,...,11.79,8.64,17.63,0.0,0.0,3,15.794946,14,1997,1482
1720,1998,Smoky Maple-glazed Salmon Supper,6.8995,474,False,False,True,False,False,True,...,0.00,44.11,34.17,0.0,0.0,4,45.054936,14,1998,1483
1721,1999,spicy tomato mussels,0.3231,55,False,False,True,True,False,False,...,0.00,2.86,12.65,0.0,0.0,5,25.039383,14,1999,1484

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 63 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1722 non-null   int64
 1   title                 1722 non-null   object
 2   pricePerServing       1722 non-null   float64
 3   weightPerServing      1722 non-null   int64
 4   vegetarian            1722 non-null   bool
 5   vegan                 1722 non-null   bool
 6   glutenFree            1722 non-null   bool
 7   dairyFree             1722 non-null   bool
 8   sustainable           1722 non-null   bool
 9   veryHealthy           1722 non-null   bool
 10  veryPopular           1722 non-null   bool
 11  gaps                  1722 non-null   object
 12  lowFodmap             1722 non-null   bool
 13  ketogenic             1722 non-null   bool
 14  whole30               1722 non-null   bool
 15  readyInMinutes        1722 non-null   int64
 16  spoonacularSourceUrl  1722 non-null   object
 17  image                 1718 non-null   object
 18  aggregateLikes        1722 non-null   int64
 19  spoonacularScore      1722 non-null   int64
 20  healthScore           1722 non-null   int64
 21  percentProtein        1722 non-null   float64
 22  percentFat            1722 non-null   float64
 23  percentCarbs          1722 non-null   float64
 24  dishTypes             1722 non-null   object
 25  ingredients           1722 non-null   object
 26  calories              1722 non-null   float64
 27  Fat/g                 1722 non-null   float64
 28  Saturated Fat/g       1722 non-null   float64
 29  Carbohydrates/g       1722 non-null   float64
 30  Sugar/g               1722 non-null   float64
 31  Cholesterol/mg        1722 non-null   float64
 32  Sodium/mg             1722 non-null   float64
 33  Protein/g             1722 non-null   float64
 34  Vitamin B3/mg         1722 non-null   float64
 35  Selenium/µg           1722 non-null   float64
 36  Phosphorus/mg         1722 non-null   float64
 37  Iron/mg               1722 non-null   float64
 38  Vitamin B2/mg         1722 non-null   float64
 39  Calcium/mg            1722 non-null   float64
 40  Vitamin B1/mg         1722 non-null   float64
 41  Folate/µg             1722 non-null   float64
 42  Potassium/mg          1722 non-null   float64
 43  Copper/mg             1722 non-null   float64
 44  Zinc/mg               1722 non-null   float64
 45  Manganese/mg          1722 non-null   float64
 46  Magnesium/mg          1722 non-null   float64
 47  Vitamin B12/µg        1722 non-null   float64
 48  Vitamin B5/mg         1722 non-null   float64
 49  Vitamin B6/mg         1722 non-null   float64
 50  Vitamin E/mg          1722 non-null   float64
 51  Fiber/g               1722 non-null   float64
 52  Vitamin A/IU          1722 non-null   float64
 53  Vitamin D/µg          1722 non-null   float64
 54  Vitamin K/µg          1722 non-null   float64
 55  Vitamin C/mg          1722 non-null   float64
 56  Alcohol/g             1722 non-null   float64
 57  Caffeine/g            1722 non-null   float64
 58  stars                 1722 non-null   int64
 59  popularity            1722 non-null   float64
 60  userId                1722 non-null   int64
 61  tfdbId                1722 non-null   int64
 62  recipeId              1722 non-null   int64
dtypes: bool(10), float64(37), int64(10), object(6)
memory usage: 730.0+ KB

In [156]:
df.head()

,id,title,pricePerServing,weightPerServing,vegetarian,vegan,glutenFree,dairyFree,sustainable,veryHealthy,...,Vitamin D/µg,Vitamin K/µg,Vitamin C/mg,Alcohol/g,Caffeine/g,stars,popularity,userId,tfdbId,recipeId
0,1,Fried Anchovies with Sage,5.6051,226,False,False,False,True,False,False,...,0.29,0.00,0.00,0.0,0.0,3,150.437577,1,1,1915
1,2,Anchovies Appetizer With Breadcrumbs & Scallions,0.8206,33,False,False,False,True,False,False,...,0.00,7.18,0.00,0.0,0.0,1,139.082615,1,2,1916
2,3,"Carrots, Cauliflower And Anchovies",4.3800,364,False,False,False,True,False,True,...,0.00,104.27,32.60,0.0,0.0,4,107.376788,1,3,1918
3,4,Bap Story Stir Fried Anchovies (Myulchi Bokkeum),8.1122,711,False,False,True,True,False,True,...,6.24,16.02,3.88,0.0,0.0,3,112.312950,1,4,1919
4,5,"Bread, Butter And Anchovies",0.2557,36,False,False,False,False,False,False,...,0.00,2.21,0.00,0.0,0.0,5,43.926995,1,5,1920

In [157]:
df.drop(labels=['vegetarian','vegan', 'glutenFree', 'dairyFree', 'sustainable'],axis=1, inplace=True)

In [158]:
df.drop(labels=['weightPerServing','pricePerServing', 'gaps', 'lowFodmap', 'ketogenic'],axis=1, inplace=True)

In [43]:
df.drop(labels=['whole30','aggregateLikes', 'spoonacularScore', 'Vitamin B5/mg', 'Vitamin B6/mg'],axis=1, inplace=True)

In [44]:
df.drop(labels=['healthScore','percentProtein', 'percentFat', 'Magnesium/mg', 'Vitamin B12/µg'],axis=1, inplace=True)

In [45]:
df.drop(labels=['percentCarbs','Zinc/mg', 'Manganese/mg', 'Fiber/g', 'Vitamin E/mg'],axis=1, inplace=True)

In [46]:
df.drop(labels=['Vitamin B1/mg', 'Folate/µg', 'Potassium/mg', 'Copper/mg','Vitamin A/IU','Vitamin D/µg','Vitamin K/µg'],axis=1, inplace=True)

In [47]:
df.drop(labels=['Fat/g','Saturated Fat/g', 'Carbohydrates/g', 'Sugar/g', 'Cholesterol/mg','Sodium/mg','Protein/g','Vitamin B3/mg','Selenium/µg','Phosphorus/mg','Iron/mg','Vitamin B2/mg','Calcium/mg','Vitamin C/mg','Alcohol/g','Caffeine/g'],axis=1, inplace=True)

In [48]:
df

        id                                              title  ...  calories  Stars
0        1                          Fried Anchovies with Sage  ...    384.09   3.75
1        2   Anchovies Appetizer With Breadcrumbs & Scallions  ...     57.07      1
2        3                 Carrots, Cauliflower And Anchovies  ...    942.08   2.25
3        4  Bap Story: Stir Fried Anchovies (Myulchi Bokkeum)  ...   1697.23   2.75
4        5                        Bread, Butter And Anchovies  ...    112.75   3.75
...    ...                                                ...  ...       ...    ...
1717  1995                           Blackened Salmon Fillets  ...    466.57      5
1718  1996                        Vegetable Stew With Halibut  ...     24.02   4.25
1719  1997                  Snapper Tacos with Chipotle Cream  ...    418.20   3.25
1720  1998                   Smoky Maple-glazed Salmon Supper  ...    803.88   2.75
1721  1999                               spicy tomato mussels  ...     77.49   3.75

[1722 rows x 11 columns]

In [49]:
df['Recommend'] = np.nan
df['Recommend'] = df['Recommend'].astype('str')

In [50]:
df

        id                                              title  ...  Stars  Recommend
0        1                          Fried Anchovies with Sage  ...   3.75        nan
1        2   Anchovies Appetizer With Breadcrumbs & Scallions  ...      1        nan
2        3                 Carrots, Cauliflower And Anchovies  ...   2.25        nan
3        4  Bap Story: Stir Fried Anchovies (Myulchi Bokkeum)  ...   2.75        nan
4        5                        Bread, Butter And Anchovies  ...   3.75        nan
...    ...                                                ...  ...    ...        ...
1717  1995                           Blackened Salmon Fillets  ...      5        nan
1718  1996                        Vegetable Stew With Halibut  ...   4.25        nan
1719  1997                  Snapper Tacos with Chipotle Cream  ...   3.25        nan
1720  1998                   Smoky Maple-glazed Salmon Supper  ...   2.75        nan
1721  1999                               spicy tomato mussels  ...   3.75        nan

[1722 rows x 12 columns]

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1722 non-null   int64
 1   title                 1722 non-null   object
 2   veryHealthy           1722 non-null   bool
 3   veryPopular           1722 non-null   bool
 4   readyInMinutes        1722 non-null   int64
 5   spoonacularSourceUrl  1722 non-null   object
 6   image                 1717 non-null   object
 7   dishTypes             1644 non-null   object
 8   ingredients           1722 non-null   object
 9   calories              1722 non-null   float64
 10  Stars                 1722 non-null   object
 11  Recommend             1722 non-null   object
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 138.0+ KB

In [52]:
df["Stars"] = df["Stars"].astype("int64", errors='ignore')

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1722 entries, 0 to 1721
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    1722 non-null   int64
 1   title                 1722 non-null   object
 2   veryHealthy           1722 non-null   bool
 3   veryPopular           1722 non-null   bool
 4   readyInMinutes        1722 non-null   int64
 5   spoonacularSourceUrl  1722 non-null   object
 6   image                 1717 non-null   object
 7   dishTypes             1644 non-null   object
 8   ingredients           1722 non-null   object
 9   calories              1722 non-null   float64
 10  Stars                 1722 non-null   object
 11  Recommend             1722 non-null   object
dtypes: bool(2), float64(1), int64(2), object(7)
memory usage: 138.0+ KB

In [54]:
for i in df['veryHealthy'].index: 
  if(False==df['veryHealthy'][i] ): 
    df['Recommend'][i]='No' 
  elif(True==df['veryHealthy'][i] ): 
    df['Recommend'][i]='Yes'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [55]:
df

        id                                              title  ...  Stars  Recommend
0        1                          Fried Anchovies with Sage  ...   3.75         No
1        2   Anchovies Appetizer With Breadcrumbs & Scallions  ...      1         No
2        3                 Carrots, Cauliflower And Anchovies  ...   2.25        Yes
3        4  Bap Story: Stir Fried Anchovies (Myulchi Bokkeum)  ...   2.75        Yes
4        5                        Bread, Butter And Anchovies  ...   3.75         No
...    ...                                                ...  ...    ...        ...
1717  1995                           Blackened Salmon Fillets  ...      5         No
1718  1996                        Vegetable Stew With Halibut  ...   4.25         No
1719  1997                  Snapper Tacos with Chipotle Cream  ...   3.25         No
1720  1998                   Smoky Maple-glazed Salmon Supper  ...   2.75        Yes
1721  1999                               spicy tomato mussels  ...   3.75         No

[1722 rows x 12 columns]

In [56]:
df['Stars'].dtype

dtype('O')

In [57]:
df['calories'].dtype

dtype('float64')

In [58]:
df['Stars'] = pd.to_numeric(df['Stars'],errors = 'coerce')

In [59]:
df['Stars'].dtype

dtype('float64')

In [60]:
print(df.iloc[:, [9, 10]])

      calories  Stars
0       384.09   3.75
1        57.07   1.00
2       942.08   2.25
3      1697.23   2.75
4       112.75   3.75
...        ...    ...
1717    466.57   5.00
1718     24.02   4.25
1719    418.20   3.25
1720    803.88   2.75
1721     77.49   3.75

[1722 rows x 2 columns]

In [61]:
df['Stars'] = df['Stars'].replace(np.nan, 0)

In [62]:
df['calories'] = df['calories'].replace(np.nan, 0)

In [63]:
df['Recommend'] = df['Recommend'].replace(np.nan, 0)

In [64]:
x = df.iloc[:, [9, 10]].values  
y = df.iloc[:, 11].values

In [65]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 5)

In [66]:
from sklearn.preprocessing import StandardScaler  
sc = StandardScaler()  
x_train = sc.fit_transform(x_train)  
x_test = sc.transform(x_test)

In [67]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(x_train, y_train)

GaussianNB()

In [68]:
y_pred = classifier.predict(x_test)

In [69]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)

0.8004640371229699

In [70]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)  

print(cm)

[[327   7]
 [ 79  18]]

In [71]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.81      0.98      0.88       334
         Yes       0.72      0.19      0.30        97

    accuracy                           0.80       431
   macro avg       0.76      0.58      0.59       431
weighted avg       0.79      0.80      0.75       431

In [74]:
TP = cm[0,0]
TN = cm[1,1]
FP = cm[0,1]
FN = cm[1,0]

In [75]:
classification_accuracy = (TP + TN) / float(TP + TN + FP + FN)

print('Classification accuracy : {0:0.4f}'.format(classification_accuracy))

Classification accuracy : 0.8005

In [76]:
# print classification error

classification_error = (FP + FN) / float(TP + TN + FP + FN)

print('Classification error : {0:0.4f}'.format(classification_error))

Classification error : 0.1995

In [77]:
# print precision score

precision = TP / float(TP + FP)


print('Precision : {0:0.4f}'.format(precision))

Precision : 0.9790

In [78]:
recall = TP / float(TP + FN)

print('Recall or Sensitivity : {0:0.4f}'.format(recall))

Recall or Sensitivity : 0.8054

In [79]:
true_positive_rate = TP / float(TP + FN)


print('True Positive Rate : {0:0.4f}'.format(true_positive_rate))

True Positive Rate : 0.8054

In [80]:
false_positive_rate = FP / float(FP + TN)


print('False Positive Rate : {0:0.4f}'.format(false_positive_rate))

False Positive Rate : 0.2800

In [81]:
specificity = TN / (TN + FP)

print('Specificity : {0:0.4f}'.format(specificity))

Specificity : 0.7200