In [ ]:
import seaborn as sns 
import sys
import matplotlib.pyplot as plt

import numpy as np

In [11]:
import pandas as pd
import csv
df = pd.read_csv('/content/Food Ingredients and Recipe Dataset with Image Name Mapping.csv', header = None, delimiter="\t", quoting=csv.QUOTE_NONE, encoding='utf-8')

In [12]:
# previewing the dataset
df.head()

                                                   0
0  ,Title,Ingredients,Instructions,Image_Name,Cle...
1  0,Miso-Butter Roast Chicken With Acorn Squash ...
2  Meanwhile, halve squash and scoop out seeds. R...
3  Combine sage, rosemary, and 6 Tbsp. melted but...
4  Add bread, apples, oil, and ¼ tsp. salt to rem...

Dataset successfully Loaded

Onto Training Process

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6956 entries, 0 to 6955
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6956 non-null   object
dtypes: object(1)
memory usage: 54.5+ KB